 <nb-layout >
  <!-- Header -->
  <nb-layout-header 
  [style.backgroundImage]="'url(assets/img.jpg)'" 
  style="background-size: cover; background-repeat: no-repeat; height: 80px; display: flex; justify-content: center; align-items: center; border-bottom: 2px solid #ccc;" 
  fixed>
  
  <nb-actions style="display: flex; justify-content: center; gap: 30px; width: 100%; padding: 10px;">
    <nb-action 
      routerLink="/search" 
      style="font-size: 16px; color: white; padding: 12px 25px; text-transform: uppercase; font-weight: 600; transition: background-color 0.3s ease; border-radius: 4px; cursor: pointer;">
      Search
    </nb-action>
    <nb-action 
      routerLink="/bookmarks" 
      style="font-size: 16px; color: white; padding: 12px 25px; text-transform: uppercase; font-weight: 600; transition: background-color 0.3s ease; border-radius: 4px; cursor: pointer;">
      Bookmarks
    </nb-action>
  </nb-actions>
</nb-layout-header>


  <!-- Content -->
  <nb-layout-column style="padding: 20px; background-color: #e0f7fa; min-height: 100vh;">
    <router-outlet></router-outlet>
  </nb-layout-column>


  <!-- Footer -->
  <nb-layout-footer fixed>
  <div style="width: 100%; text-align: center; padding: 1rem 0; font-size: 0.95rem; color: #333;">
    © 2025 <strong>My Movie App</strong> | Built with ❤️ using Angular & OMDb API
  </div>
</nb-layout-footer>


</nb-layout>


